.af-popover__container .btn.af-btn--circle {
  width: 20px;
  height: 20px;
  line-height: 17px;
  margin: 0 0 0 10px;
}
.container-center {
  text-align: center;
}
.container-result {
  padding: 50px 0;
}

.container.container-body {
  padding: 0 0 50px 0;
}
